.twitter-card {
  display: flex;
  max-width: 800px;
  padding: 10px 15px;
  align-items: center;
  gap: 30px;
  color: #fff;
  justify-content: space-between;
  font-size: .8rem;
}
.twitter-card-header{
  display: flex;
  gap: 10px;
  align-items: center;
}
.twitter-card-img{
  max-width: 48px;
  height: 48px;
  border-radius: 60px;
}
.twitter-card-div{
  display: flex;
  flex-direction: column;
}
.twitter-card-span{
  opacity: .6;
}

.twitter-card-botton{
  background-color: #fff;
  border: none;
  border-radius: 999px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: .8rem;
  padding: 6px 16px;
  transition: .3s ease all;
}
.twitter-card-botton.isfollowing{
  border: 1px solid blueviolet;
  width: 130px;
}

.twitter-card-stopIsFollowing{
  display: none;
}

.twitter-card-botton:hover {
  color: #fff;
  background-color: rgb(42, 247, 151);
}

.twitter-card-botton.isfollowing:hover{
  border: 1px solid rgba(226, 95, 43, 0.555);
  color: rgb(226, 95, 43);
  background-color: transparent;
  opacity: .8;

}

.twitter-card-botton.isfollowing:hover .twitter-card-stopIsFollowing{
  display: block;
}
.twitter-card-botton.isfollowing:hover .twitter-card-textNone{
  display: none;
}
